<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--组件扫描可以扫描controller,service...
        这里让扫描controller，指定controller的包-->
    <context:component-scan base-package="com.pdsu.controller"></context:component-scan>
<!--使用mvc:annotation-driven代替注解映射器注解适配器配置
    mvc:annotation-driven默认加载很多的参数绑定方法，比如json转换解析器-->
    <mvc:annotation-driven />
<!--配置视图解析器，解析jsp视图默认使用jstl标签，classpath下要有jstl的包-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置jsp的前缀和后缀-->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
<!--&lt;!&ndash;校验器&ndash;&gt;
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        &lt;!&ndash;hibernate校验器&ndash;&gt;
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
        &lt;!&ndash;指定校验使用的资源文件，，在文件中配置校验错误信息，如果不指定默认使用classpath下的ValidationMessages.properties&ndash;&gt;
        <property name="validationMessageSource" ref="messageSource" />
    </bean>
&lt;!&ndash;校验错误信息配置文件&ndash;&gt;
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    &lt;!&ndash;资源文件名&ndash;&gt;
        <property name="basenames">
            <list>
                <value>classpath:CustomValidationMessages</value>
            </list>
        </property>
        &lt;!&ndash;资源文件编码格式&ndash;&gt;
        <property name="fileEncodings" value="utf-8"/>
        &lt;!&ndash;对资源文件内容的缓存时间，单位秒&ndash;&gt;
        <property name="cacheSeconds" value="120"/>
    </bean>-->
<!--全局异常处理器-->
<!--    只要实现ManagerExceptionResolver接口就是全局异常处理器;-->
    <bean class="com.pdsu.controller.exception.ManagerExceptionResolver"></bean>
<!--上传文件-->
<!--    <bean id="multipartResolver"-->
<!--          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        &lt;!&ndash;设置上传文件最大尺寸为5MB&ndash;&gt;-->
<!--        <property name="maxUploadSize">-->
<!--            <value>5242880</value>-->
<!--        </property>-->
<!--    </bean>-->
</beans>